@charset "UTF-8";

/*
.memo{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 101px;
	padding: 0 0 0 15px;
    background-color: #f5f5f5;
}
*/


.btn-move{
	position: fixed;
	right: 29px;
	bottom: 43px;
	
}	

.btn-move a{
	display: block;
	border: 1px solid gray;
}

.btn-move .move-top{
	background-image: url(https://ssl.pstatic.net/static/pwe/memo/sp/sp_memo_b9775359.png);
	background-position: -153px -66px;
	width: 37px;
	height: 37px;
}

.btn-move .move-bottom{
	background-image: url(https://ssl.pstatic.net/static/pwe/memo/sp/sp_memo_b9775359.png);
	background-position: -111px -66px;
	width: 37px;
	height: 37px;
	margin-top: -1px;
}


