

.menu ul{}
.menu ul li{}

.menu ul li span{}

.menu ul li{}

.asude span.ico_mm core{
	 width: 30px; height: 30px;
	  background: url(../image/memo_bg.png) no-repeat 22% 62%;
}

.asude .menu ul li a{
	display: inline-block;   width: 30px;
    height: 30px;
}

.menu ul li a.ma{
	 
}
.aside a.ma{
	padding-left:24px;	
	color:#000;
	line-height: 20px;
}

.aside span.ico_mm.core{
	position: absolute;
    width: 20px;
    height: 20px;
    background: url(../image/memo_bg.png) no-repeat 100% 79%;
}

.aside span.ico_mm.linkicon{
	position: absolute;
    width: 20px;
    height: 20px;
    background: url(../image/memo_bg.png) no-repeat 23% 58%;
}

.aside span.ico_mm.attach_pht{
	position: absolute;
    width: 20px;
    height: 20px;
    background: url(../image/memo_bg.png) no-repeat 11% 79%;
}

.aside span.ico_mm.todoicon{
	position: absolute;
    width: 20px;
    height: 20px;
    background: url(../image/memo_bg.png) no-repeat 56% 70%;
}

.aside span.ico_mm.diaryicon{
	position: absolute;
    width: 20px;
    height: 20px;
    background: url(../image/memo_bg.png) no-repeat 28% 79%;
}


.aside button{
  font-size: 12pt;
}
div.aside{
    border-bottom: 1px solid rgba(128, 128, 128, 0.178);
}
.aside{
    width: 249px;
    border-right: 1px solid rgba(128, 128, 128, 0.521);
    height: 900px;
    position: absolute;
    left: 0;
    top: 200px;
}

#newMemo{
    background-color: #00c73c;
    color: white;
    text-align: center;
    font-size: 11pt;
    font-weight: bold;
    width: 213px;
    height: 34px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(0,0,0,.15);
    cursor: pointer;
}
.aside ul{
	border-bottom: 1px solid #ccc;
 	padding-left: 18px;
    margin: 26px 0;
}

.aside ul li{
    list-style: none;
    width: 100%;
    cursor: pointer;
    margin-bottom: 5px;
}

.star{
    background-image:url("../image/memo_bg.png");
    background-size: 450px 282px;
    background-position: -168px -152px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    
}
.link{
    background-image: url("../image/memo_bg.png");
    background-size: 450px 282px;
    background-position: -96px -152px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.img_plus{
    background-image: url("../image/memo_bg.png");
    background-size: 450px 282px;
    background-position: -48px -207px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.todo{
    background-image: url("../image/memo_bg.png");
    background-size: 450px 282px;
    background-position: -240px -183px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.diary{
    background-image: url("../image/memo_bg.png");
    background-size: 450px 282px;
    background-position: -120px -207px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.zoom{
    background-image: url("../image/memo_bg.png");
    background-size: 450px 282px;
    background-position: -144px -183px;
    width: 20px;
    height: 20px;
    top: 10px;
    margin-right: 10px;
    margin-left: 5px;
}
.plus{
    background-image: url("../image/memo_bg.png");
    background-size: 450px 282px;
    background-position: -216px -183px;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.large_trash{
    background-image: url("../image/memo_bg.png");
    background-size: 450px 282px;
    background-position: -144px -207px;
    width: 20px;
    height: 20px;
    margin-right: 10px
}
.small_trash{

    background-image: url("../image/memo_bg.png");
    background-size: 450px 282px;
    background-position: -432px -152px;
    width: 18px;
    height: 18px;
    margin-right: 5px;
}
.cursor{
    cursor: pointer;
}
.aside ul#mem>li{
    margin-bottom: 10px;
    padding-left: 20px;
}

